name: "build-latest"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "master"
    paths:
      - "Dockerfile*"
  pull_request:
    branches:
      - "main"
      - "master"
    paths:
      - "Dockerfile*"

jobs:
  docker_buildx_alpine:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.0

      - name: Set up QEMU environment
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Extract the Nginx version numbers from the Dockerfile
        id: tagger
        run: bash .github/version_extractor.sh ./Dockerfile >> $GITHUB_ENV

      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push latest Alpine image with all tags
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./
          file: ./Dockerfile
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            axistools/nginx-ldap:alpine
            axistools/nginx-ldap:mainline-alpine
            axistools/nginx-ldap:${{ env.NGINX_MAJOR }}-alpine
            axistools/nginx-ldap:${{ env.NGINX_MAJOR }}.${{ env.NGINX_MINOR }}-alpine
            axistools/nginx-ldap:${{ env.NGINX_MAJOR }}.${{ env.NGINX_MINOR }}.${{ env.NGINX_PATCH }}-alpine
